@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
:root{
    --red:#573847;
    --green: #8EAF9D; 
}

/*back ground styling*/ 
body {
    margin: 50px;
    padding: 0;
    border: 0;
    background-color: white;
    line-height: 1.7;
}

/*General text styling */
h1{
    font-family: 'Mulish', sans-serif;
    color:var(--red);   
    font-size: 64px;
}

h2{
    font-family: 'Moul', sans-serif;
    color: var(--green);
    font-size: 64px ; 
    letter-spacing: 4px;
}

h3{
    font-family: 'Moul', sans-serif;
    color: var(--green);
    font-size: 25px ; 
    letter-spacing: 2px;
}

h4 {
    font-family: 'Mulish', sans-serif;
    color:var(--red);
    font-size: 20px;
}

h5 {
    font-family: 'Mulish', sans-serif;
    color:var(--red);
    font-size: 15px;
}

p {
    font-family: 'Mulish', sans-serif;
    color:var(--red);
    font-size: 12px;

}

/*Positioning of the text */
.About {
    margin: 30px auto;
    padding: 20px;
    text-align: left;

}
.Previous-works{
    margin: 30px auto;
    padding: 20px;
    text-align: right;
}

.Project-1{
    margin: 30px 4%; 
    padding: 20px;
    text-align: right;
    width: min(90%, 75ch); 
    margin-left: auto; 
  }

.Project-2{
    margin: 30px 4%; 
    padding: 20px;
    text-align: left;
} 

.Project-3{
    margin: 30px 4%; 
    padding: 20px;
    text-align: right;
    width: min(90%, 75ch); 
    margin-left: auto; 
  }